ul {
    position: fixed;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(200,200,200,0.0);
    overflow: hidden;
    width:100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgba(50, 50, 50, 0.5);
    font-family: Tahoma, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(20, 20, 20, 0.05);
}

.active {
    font-weight: bold;
    color: rgba(0,0,0,0.75);
}

.button {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.05);
    border-radius: 12px;
    padding: 12px 18px;
    color: rgba(0,0,0,0.75);
    font-family: Georgia, serif;
    margin:auto;
}

.button:hover {
    background-color: rgba(0,0,0,0.25);
}

body {
    font-family: Georgia, serif;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    color: rgb(0,0,0);
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    background-color: rgba(220,220,220,0);
}


h1 {
    margin-top: 0px;
    padding: 150px;
    font-family: Georgia, serif;
    letter-spacing: 3px;
    text-align: center;
    font-size: 36px;
    color: rgba(0,0,0,0.75);
    background-image: url("images/marble.jpg")

}

#main {
    margin-top: 0px;
    padding: 0px;
    padding-left:  0px;
    padding-right: 0px;
    border-radius: 0 0 0px 0px;
    background-color: rgba(255, 150, 199, 0);
    display: grid
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

#form {
    padding: 50px;
    background-color: rgba(0,0,0,0.05);
}

input[type=text],textarea {
    border: none;
    border-radius: 2px;
    padding: 16px 36px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.0);
    outline: none;
}

input[type=text]:focus ,textarea:focus {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.05);
}

select {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.05);
  letter-spacing: 2px;
  text-align: center;
}

}
